.hero {
  display: flex;
  flex-wrap: wrap;
  margin-top: 122px;
  color: $primary-color;

  &__info {
    flex: 0 1 70%;
  }

  &__partners {
    flex: 0 1 100%;
    display: flex;
    justify-content: space-between;
  }
}

.hero__info {
}

.info-hero {
}

.info-hero__title {
  font-family: "League Spartan";
  max-width: 847.89px;
  font-weight: 600;
  font-size: clamp(42px, 4vw, 66.33px);
  line-height: clamp(57.71px, 4vw, 91.13px);
}

.info-hero__gradient {
  background: $bg-button;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info-hero__description {
  font-family: "Rajdhani";
  font-size: clamp(14px, 10vw, 26.53px);
  line-height: clamp(23.22px, 10vw, 44.22px);
  max-width: 657.75px;
  margin: 21px 0 43.11px 0;
}

.info-hero__actions {
  display: flex;
  align-items: center;
  column-gap: 37.59px;
}

.info-hero__create {
  font-weight: 700;
  font-size: 19.9px;
  line-height: 24.95px;
  font-family: $title-font;
  background: linear-gradient(89.89deg, #42a6e3 2.33%, #ff56f6 101.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.info-hero__additional {
  display: flex;
  column-gap: 16.58px;
  font-family: "Aldrich";
  letter-spacing: clamp(0.11px, 4vw, 0.22px);
  font-weight: 400;
}
.additional-info {
}
.additional-info__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  // row-gap: 16.58px;
}
.additional-info__title {
  font-size: clamp(18px, 4vw, 39.8px);
  line-height: clamp(28.31px, 4vw, 53.06px);
}
.additional-info__sign {
  font-family: "Lato";
  font-size: clamp(12px, 4vw, 17.69px);
  line-height: clamp(11.8px, 4vw, 22.11px);
}
.hero__preview {
}
.preview-hero {
}
.preview-hero__image {
}
.preview-hero__card {
}
.hero-card {
}
.hero-card__left {
}
.hero-card__row {
}
.hero-card__title {
}
.hero-card__user-info {
}
.hero-card__photo {
}
.hero-card__nickname {
}
.hero-card__mark {
}
.hero-card__price-label {
}
.hero-card__crypto {
}
.hero-card__fiat {
}
.hero-card__right {
}
.hero-card__sign {
}
.hero-card__time {
}
.time-hero-card {
}
.time-hero-card__item {
}
.time-hero-card__title {
}
.time-hero-card__sign {
}
.hero-card__btn {
}
.hero__partners {
}
.partners-hero {
}
.partners-hero__item {
}
