<section class="hero">
  <div class="hero__info info-hero">
    <h1 class="info-hero__title">
      Discover, collect, and
      <br />sell
      <span class="info-hero__gradient">
        Timeless
      </span>
      NFTs
    </h1>
    <p class="info-hero__description">
      The world’s first and largest digital marketplace for crypto collectibles
      and non- fungible tokens (NFTs).
    </p>
    <div class="info-hero__actions">
      <button class="button button_explore">Explore
        <img src="/images/hero/right-arrow.svg" alt="arrow right" />
      </button>
      <a class="info-hero__create" href="#">Create NFT’s</a>
    </div>
    <div class="info-hero__additional additional-info">
      <div class="additional-info__item">
        <h2 class="additional-info__title">35m+</h2>
        <div class="additional-info__sign">Artwork</div>
      </div>
      <div class="additional-info__item">
        <h2 class="additional-info__title">18m+</h2>
        <div class="additional-info__sign">Auctions</div>
      </div>
      <div class="additional-info__item">
        <h2 class="additional-info__title">500k+</h2>
        <div class="additional-info__sign">Artists</div>
      </div>

    </div>
  </div>
  <div class="hero__preview preview-hero">
    <img
      src="/images/hero/hero.jpg"
      alt="hero image"
      class="preview-hero__image"
    />
    <div class="preview-hero__card hero-card">
      <div class="hero-card__left">
        <div class="hero-card__row">

          <h3 class="hero-card__title">3D Abstract Hand</h3>
          <div class="hero-card__user-info">
            <img
              src="/images/hero/hero-avatar.jpg"
              alt="avatar of user"
              class="hero-card__photo"
            />
            <span class="hero-card__nickname">@jhonartist</span>
            <img
              src="/images/hero/mark.png"
              alt="mark photo"
              class="hero-card__mark"
            />
          </div>
          <div class="hero-card__row">
            <h4 class="hero-card__price-label">
              Reserve price
            </h4>
            <div>
              <img src="/images/hero/ethereum.svg" alt="ethereum icon" />
              <span class="hero-card__crypto">ETH 9.31</span>
              <span class="hero-card__fiat">($29,8846)</span>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-card__right">
        <div>
          <h4 class="hero-card__sign">
            Auction Ends in
          </h4>
          <div class="hero-card__time time-hero-card">
            <div class="time-hero-card__item">
              <h5 class="time-hero-card__title">
                18
              </h5>
              <span class="time-hero-card__sign">Hours </span>
            </div>
            <div class="time-hero-card__item">
              <h5 class="time-hero-card__title">
                25
              </h5>
              <span class="time-hero-card__sign">Mins</span>
            </div>
            <div class="time-hero-card__item">
              <h5 class="time-hero-card__title">
                44
              </h5>
              <span class="time-hero-card__sign">Secs </span>
            </div>
          </div>
        </div>
        <div>
          <button class="hero-card__btn button">
            Place Bid
            <img src="/images/hero/right-arrow.svg" alt="arrow right" />

          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="hero__partners partners-hero">
    <div class="partners-hero__item">
      <img src="/images/hero/Binance_logo.svg" alt="binance logo" />
    </div>
    <div class="partners-hero__item">
      <img src="/images/hero/BitMex_logo.svg" alt="BitMex logo" />
    </div>
    <div class="partners-hero__item">
      <img src="/images/hero/Blockchain.io_logo.svg" alt="Blockchain.io logo" />
    </div>
    <div class="partners-hero__item">
      <img src="/images/hero/Ethereum_logo.svg" alt="Ethereum logo" />
    </div>
  </div>
</section>